<%= link_to "add new user", new_user_path %>
<h3>Admin users</h3>
<table>
  <thead>
    <th></th>
    <th>Admin Name</th>
  </thead>
  <tbody>
    <%= render @admins %>
  </tbody>
</table>

<% if @all_users %>
  <h3>All Staff</h3>
  <%= link_to "view current staff", users_path %>
<% else %>
  <h3>Current Staff</h3>
  <%= link_to "view all users", users_path( :all_staff=>true) %>
<% end %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Staff Name</th>
      <th>Current Job</th>
      <th>Current Site</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @staff %>
  </tbody>
</table>
  
