<dl>
  <dt>Vendor</dt>
  <dd><%= @purchase.vendor.name %></dd>
  <dt>Date</dt>
  <dd><%= @purchase.date %></dd>
  <dt>Purchaser</dt>
  <dd><%= @purchase.purchaser.name %></dd>
  <dt>Total</dt>
  <dd><%= number_to_currency(@purchase.total, :unit => "$") %></dd>
  <dt>Tax</dt>
  <dd><%= number_to_currency(@purchase.tax, :unit => "$") %></dd>
  <dt>Effective tax rate</dt>
  <dd><%= number_to_percentage(@purchase.effective_tax_rate * 100, :precision => 2) %></dd>
  <dt>Actual Tax Rate</dt>
  <dd><span id="actual_tax_rate"><%= number_to_percentage(@purchase.actual_tax_rate * 100, :precision => 2) %></span></dd>
  <dt>Accounted for</dt>
  <dd><span id="accounted_for"><%= number_to_currency(@purchase.accounted_for) %></span></dd>
  <dt>Unaccounted For</dt>
  <dd><span id="unaccounted_for"><%= number_to_currency @purchase.unaccounted_for, :unit => "$" %></span></dd>
</dl>

<% if can? :create, @purchase.food_item_purchases.new %>
  <%= render 'food_item_purchases/form', :food_item_purchase => @purchase.food_item_purchases.new, :remote => true %>
<% end %>
<% unless @purchase.food_item_purchases.empty? %>
  <%= render 'food_item_purchases/table', :food_item_purchases => @purchase.food_item_purchases %>
<% end %>

