<!DOCTYPE html>
<html>
<head>
  <title>CTAB | <%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <h1>CTAB</h1>
    </div>
    <div id="content" class="span-24 last">
      <%= yield %>
    </div>
    <div id="footer" class="span-24 last">
    </div>
  </div>
  <%= javascript_include_tag 'jquery/jquery-1.4.2.min' %>
  <%= javascript_include_tag :defaults %>
</body>
</html>
