<!DOCTYPE html>
<html>
<head>
  <title>SSP | <%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= stylesheet_link_tag 'jqueryui/jquery-ui-1.8.9.custom.css' %>
  <%= csrf_meta_tag %>

</head>
<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <h1 class="span-16">SSP</h1>
      <div class="span-8 last">
        <% if user_signed_in? %>
          <%= current_user.name %>
          <%= link_to "account", current_user %> |
          <%= link_to "sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>

    <div class="span-24 last">
      <%= render_navigation %>
    </div>

    <div id="flash" class="span-24 last">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id=>"flash_#{name}", :class => "flash #{name}" %>
      <% end %>
    </div>
    <div id="content" class="span-24 last">
      <h2><%= @title %></h2>
      <%= yield %>
    </div>
    <div id="footer" class="span-24 last">
    </div>
  </div>
  <%= javascript_include_tag 'jquery/jquery-1.4.2.min' %>
  <%= javascript_include_tag 'jquery/jquery-ui-1.8.9.custom.min.js' %>
  <%= javascript_include_tag :all %>

</body>
</html>
