<!DOCTYPE html>
<html>
<head>
  <title>CTAB | <%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <h1 class="span-16">CTAB</h1>
      <div class="span-8 last">
        <% if user_signed_in? %>
          <%= current_user.first_name %> <%= current_user.last_name %> |
          <%= link_to "account", current_user %> |
          <%= link_to "sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>

    <div id="flash" class="span-24 last">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id=>"flash_#{name}" %>
      <% end %>
    </div>
    <div id="content" class="span-24 last">
      <%= yield %>
    </div>
    <div id="footer" class="span-24 last">
    </div>
  </div>
  <%= javascript_include_tag 'jquery/jquery-1.4.2.min' %>
  <%= javascript_include_tag :defaults %>
</body>
</html>
