<!DOCTYPE html>
<html>
<head>
  <title>SSP | <%= @title %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
  <%= stylesheet_link_tag 'jqueryui/jquery-ui-1.8.9.custom.css' %>
  <%= csrf_meta_tag %>

</head>
<body>
  <div class="container">
    <div id="header" class="span-24 last">
      <h1 class="span-16">SSP</h1>
      <div class="span-8 last">
        <% if user_signed_in? %>
          <%= current_user.name %>
          <%= link_to "account", current_user %> |
          <%= link_to "sign out", destroy_user_session_path %>
        <% else %>
          <%= link_to "sign in", new_user_session_path %>
        <% end %>
      </div>
    </div>

    <div id="main-nav" class="span-24 last nav-bar">
      <%= render_navigation :level => 1 %>
      <%= render_navigation :level => 2 %>
      <%= render_navigation :level => 3 %>
    </div>

    <%= render 'shared/flash', :flash => flash %>
    
    <div class="container">
      <h2 class="span-24 last"><%= @title %></h2>
      <div class="span-23 prepend-1 last append-bottom">
        <%= render_navigation :renderer => :breadcrumbs, :join_with => "&nbsp;&gt;&nbsp;" %>
      </div>
      <div class="span-24 last">
        <%= yield %>
      </div>
    </div>
    <div id="footer" class="span-24 last">
    </div>
  </div>
  
  <%= javascript_include_tag 'jquery/jquery-1.4.2.min' %>
  <%= javascript_include_tag 'jquery/jquery-ui-1.8.9.custom.min.js' %>
  <%= javascript_include_tag :all %>

</body>
</html>
